- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.entry
  .title
    - if current
      = entry.title
    - else
      = link_to entry.title, slug_entry_path(feed, entry)
  .contents
    = render :partial => entry.category, :locals => { :feed => feed, :entry => entry }
