= paginate @entries, inner_window: 3 if @entries.respond_to? :current_page

- if @entries.count > 1
  %p{style:"text-align: center;"}
    Curent view dates:
    = current_date_range(@entries)

.entries
  = render @entries, :feed => feed

= paginate @entries, inner_window: 3 if @entries.respond_to? :current_page

