%h1= feed.title

= paginate @entries if @entries.respond_to? :current_page

.entries
  = render :partial => 'entry', :collection => @entries

= paginate @entries if @entries.respond_to? :current_page

