- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.image
  - if current
    = image_tag(entry.image_preview.try(:thumb, '1280x768').try(:jpg).try(:url))
  - else
    = image_tag(entry.image_preview.try(:thumb, '200x200#').try(:jpg).try(:url))    
