- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.image
  - if current
    = link_to cw_image_url(entry.file), :target => '_blank', :class => :full_sized do
      = image_tag(cw_image_url(entry.file.thumb))
      Click here for fullsize image
  - else
    = link_to image_tag(cw_image_url(entry.file.thumb.small)), slug_entry_url(feed, entry)
    
