- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.image
  - if current
    = image_tag(cw_image_url(entry.file.thumb))
  - else
    = image_tag(cw_image_url(entry.file.thumb.small))    
