- @feeds.each do |feed|
  - next if feed.current_entries.empty?
  - entry = feed.current_entries.first
  .feed
    %h4= feed.title
    - if feed.status.to_sym == :online and entry
      = render 'entry', entry: entry, :feed => feed
    - else
      = render 'offline', :feed => feed
