#list.hidden-phone
  %h3 Available Feeds
  %ul.unstyled
    - Feed.all.each do |feed|
      - next if feed.entries.count == 0
      %li
        = feed.title
        %ul.links
          %li
            = link_to 'Current Image', slug_entry_path(feed, 'current')
            |
            = link_to 'All Images', slug_path(feed)