#list.hidden-phone
  %ul.nav.nav-list
    - Feed.all.each do |feed|
      - next if feed.entries.count == 0
      %li.nav-header
        = feed.title
      %li= link_to 'Current Image', slug_entry_path(feed, 'current')
      %li= link_to 'All Images', slug_path(feed)