- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.npp
  - if current
    %video{width:400, height:400, controls:'controls'}
      %source{src: "#{entry.remote_url}", type: "video/mp4"}
      Your browser does not support html5 video<br />
    = link_to 'Click here to download the movie', entry.remote_url, :target => '_blank'
  - else
    = link_to 'Movie', slug_entry_url(feed, entry), :target => '_blank'
