- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.npp
  - if current
    = link_to entry.file.url, :target => '_blank' do
      = image_tag(entry.file.thumb.large.url, :class => :full_sized)
      Click here for fullsize image<br />
      NOTE: This is a geotiff and may not open in all browsers
  - else
    = link_to  image_tag(entry.file.thumb.small.url), slug_entry_url(feed, entry), :target => '_blank'