- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.image
  - if current
    = image_tag(entry.preview.url)
  - else
    = image_tag(entry.preview.thumb('200x200#').url)