- cache([Feed.order('updated_at DESC').first, 'index']) do
  - total, counts = keyword_counts(@keywords)
  .row-fluid
    .span3
      = render 'keywords'
    .span9
      .entries
        = render 'list', feeds: @feeds
        
