- cache [:large, :v1, entry] do 
  .title.clearfix
    .row-fluid
      .span2.next
        - if next_entry = entry.next
          - next_page = next_entry ? slug_entry_path(entry.feed, next_entry) : '#'
          = link_to next_page, class: 'btn btn-large btn-block' do
            Newer
            %i.icon-arrow-left
      .span8= entry
      .span2.prev
        - if prev_entry = entry.prev
          - prev_page = prev_entry ? slug_entry_path(entry.feed, prev_entry) : '#'
          = link_to prev_page, class: 'btn btn-large btn-block' do
            Older
            %i.icon-arrow-right
  .contents
    .image= image_tag(cw_image_url(entry.preview.try(:thumb, '800x800')), alt: entry.title)