- cache [:small, :v5, entry] do 
  .title.clearfix
    %b= link_to entry.feed, slug_path(entry.feed)
    %br/
    = link_to entry, slug_entry_path(entry.feed, entry)
  .contents
    = link_to slug_entry_path(entry.feed, entry) do
      .image= image_tag(cw_image_url(entry.preview.try(:thumb, '250x250#')), alt: entry.title)