- bgclass = 'active'
.bgimages
  - @entries.results.reverse.each do |entry|
    .image{ class: bgclass }
      %img{ src: entry.preview.remote_url }
      - bgclass = ''
:javascript
  var next_image = function() {
    var img = $('.bgimages .image.active')
    img.removeClass('active')
    console.log(img.next('.image').length);
    if (img.next('.image').length > 0) {
      img.next().addClass('active');
    } else {
      $('.bgimages .image:first').addClass('active');
    }
  }
  $(document).ready(function() {
    setInterval(next_image, 1000);
  })