.row-fluid
  #sidebar.span3
    = render 'sidebar'
  .span9
    %h2= @feed.title
    .entries.clearfix
      = render @entry, feed: @feed, next_entry: @next_entry, prev_entry: @prev_entry, size: 'large'