%video{style:"max-width:100%", controls:"controls", preload:"auto", autoplay: "true", poster:movie.entries.first.try(:file).try(:thumb).try(:url)}
  - if movie.has_mp4?
    %source{src:feed_movie_url(movie.feed, movie, format: 'mp4'), type:"video/mp4"}/
  - if movie.has_webm?
    %source{src:feed_movie_url(movie.feed, movie, format: 'webm'), type:"video/webm"}/ 
  Your browser does not support the video tag
