%video{style:"width:480px; max-width: 100%;", controls:"controls", preload:"auto", autoplay: "true", poster:feed_movie_url(movie.feed, movie, format: 'jpg')}
  %source{src:feed_movie_url(movie.feed, movie, format: 'mp4'), type:"video/mp4"}/
  %source{src:feed_movie_url(movie.feed, movie, format: 'webm'), type:"video/webm"}/ 
  Your browser does not support the video tag
