/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'entries'
 *= require 'feeds'
 *=# require_tree .
*/

body { 
  #header {
    #gina_logo {
      height: 60px;
      
      img {
        height: 40px;
        display: inline-block;
      }
      
      span.gina {
        color: #EDB329;
      }
      
      span {
        height: 50px;
        display: inline-block;
        font-size: 50px;
        margin-bottom: 8px;
        color: #666;
        font-weight: bold;
      }
    }
    
    h1 { font-size: 3em; margin-bottom: 5px; }
    #nav-menu {
      text-align: right;
      position: absolute;
      top: 0.5em;
      right: 1em;
      ul {
        padding: 0;
        margin: 0;
      }
      li { 
        padding: 0;
        margin: 0;
        display: inline-block;
      }
      a {
        padding: 0px 5px;
        display: block;
      }
    }
  }
  
  #footer {
    text-align: right;
    
    #gina_logo img {
      width: 100px;
    }
  }

  #sidebar {
    h3 {
      font-size: 1.2em;
      margin-top: 10px;
      margin-bottom: 3px;
      text-decoration: underline;
    }
  
    ul {
      margin-left: 0px;
    }
    ul.links {
      list-style: none;
      padding-left: 1em;

      li {
        white-space: nowrap;
      }
    }
  }
}
