@import 'compass';
@import 'bootstrap';
@import "bootstrap-responsive";
@import "bootstrap-datepicker";
@import 'entries';
@import 'feeds';

$header_height: 45px;

#header {
  height: $header_height;
  a { text-decoration: none; }
  a.brand {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  img.puffin {
    float: left;
    bottom: 0px;
    height: 40px;
  }
      
  span {
    &.gina {
      color: #EDB329;
    }        
    vertical-align: bottom;
    display: inline-block;
    font-size: 36px;
    color: #AAA;
    font-weight: bold;
  }
    
  h1 { font-size: 3em; margin-bottom: 5px; }
}
  
#footer {
  margin-top: 5px;
  text-align: center;
  #gina_logo, #uaf_logo {
    display: inline;
    padding: 0px 10px;
    img { height: 30px; }
  }
}

#sidebar {
  .by_month {
    color: $linkColor;
    cursor: pointer;
  }
}
#header-spacer {
  height: $header-height;
}

.carousel {
  width: 800px;
  height: 800px;
}
.carousel-caption {
  font-size: 2em;
  text-align: center;
  a { color: $white; }
}

.nav .nav-header {
/*  padding-left: 0px;*/
  font-size: 14px;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
  margin-right: -4px;
}

.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
  margin-left: -4px;
}

