/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'entries'
 *= require 'feeds'
 *=# require_tree .
*/
@import 'bootstrap';
@import "bootstrap-responsive";

body { 
  #header {
    #gina_logo {
      a { text-decoration: none; }
    
      .puffin img {
        height: 50px;
      }
      
      span {
        &.gina {
          color: #EDB329;
        }        
        vertical-align: bottom;
        display: inline-block;
        font-size: 45px;
        color: #666;
        font-weight: bold;
      }
    }
    
    h1 { font-size: 3em; margin-bottom: 5px; }
  }
  
  #footer {
    text-align: center;
    #gina_logo, #uaf_logo {
      display: inline;
      padding: 0px 10px;
      img { height: 30px; }
    }
  }
}
