// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry {
  text-align: center;
  display: inline-block;    
  img {
    width: 500px;
  }  
}

.entries {
  .entry {
    display: inline-block;    
    img {
      width: 150px;
    }  
  }
}
