// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entries {
  .entry {
    text-align: center;
    display: inline-block;    
    width: 200px;
    img {
      width: 100%;
    } 
  }

  .entry.full_size {
    height: 50%; 
  }
}
