// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$max-viewer-width: 660px;

#image-chooser { 
  position: relative;
}

ul.entries-chooser {
  width: 100%;
  margin: 0; padding: 0;
  margin-top: 5px;
  border-top: 1px solid #cfcfcf;
  overflow: auto;
  height: 300px;
  list-style: none;
  text-align: left;
  li {
    box-sizing: border-box;
    display: inline-block;
    margin: 1px 4px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    
    a { display: block; }
    
    &.entry-page {
      text-align: center;
      width: 100px;
    }
    
    &.entry-preview {
      width: 100px;
      box-sizing: border-box;
    }
        
    &.header {
      display: block;
      clear: both;
      float: none;
      width: auto;
      height: auto;
      text-align: left;
    }
    &.more {
      display: block;
      clear: both;
      float: none;
      a { width: 50%; }
      padding-top: 15px;
      text-align: center;
    }
  }
  .thumbnail {
//    margin: 1px;
//    padding: 8px; 
  }
  .thumbnail:hover {
    background-color: #aaa;
//    border: 1px solid #555;    
  }
  .active .thumbnail { 
    background-color: #08f;
    color: #fff;
//    border: 1px solid darken(#08f, 10%);
  }
}


#image-viewer {
  position: relative;
  text-align: center;
  .image {
    display: inline-block;
    font-size: 100%;
    margin: 0 auto;    
    text-align: center; 
    position: relative; 
    vertical-align: middle; 
  }
  a {
    margin: 0;
    padding: 30px 10px;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    color: #333;
    @include border-radius(5px);
  }
  a:hover {
    color: #000;
    background-color: #efefef;
    text-decoration: none;
  }
  a.disabled { color: #888; background-color: #fff; cursor: default;}
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0,0,0, 0.9);
    color: #fff;
  }
}

.entries { 
  text-align: center;
}
.entry {
  text-align: center;
  display: inline-block;   
  max-width: 100%; 
  vertical-align: top;
  border: 1px solid #E5E5E5;
  padding: 5px;
  margin: 5px;
  @include border-radius(5px);
  
  a {
    display: inline-block;
  }
  
  img {
    display:block;
    max-width: 100%;
    border: 1px solid black;
  }
  
  .pagination {
    margin: 0px;
  }
  .next, .prev {
    margin-bottom: 3px;
  }
  .sizes {
    display: inline-block;
    margin: 0 auto;
    a { min-width: 40px; }
  }
}

.bgimages-controls {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 1040;
}

.bgimages {
  position: relative;
  .image{
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    position: fixed;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
    @include transition-delay(1s);
    z-index: 1000;
    &.active { 
      opacity: 1; 
      z-index: 1030;
      @include transition(opacity 0.5s ease-in-out);
      @include transition-delay(0s);
    }
    
    &.force {
      @include transition(none);
      @include transition-delay(0s);      
    }
    
    ul.nav.image-links {
      margin: 0;
    }
    
    .image-links li {
      display: inline-block;
    }
    
    .image-links a {
      color: #fff;
      min-width: 15px;
    }
    
    .image-links a:hover {
      background-color: #333;
    }
    
    .navigation {
      z-index: 1040;
      position: fixed;
      bottom:10px;
      left:50%;
      margin-left: -300px;
      padding: 10px;
      width:600px;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #555;
      @include border-radius(5px);
      text-align: center;
    }
    
    .caption {
      z-index: 1040;
      position: fixed;
      margin: 0;
      top:50px;
      right:10px;
      padding: 0 10px;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #555;
      @include border-radius(5px);
      text-align: center;
    }
    
    img {
      width: 100%;
      height: 100%;
    
    }    
  }
}