// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entries { 
  text-align: center;
}
.entry {
  text-align: center;
  display: inline-block;    
  vertical-align: top;
  
  a {
    display: inline-block;
  }
  
  img {
    display:block;
    max-width: 100%;
    border: 1px solid black;
  }
}