// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entries { 
  text-align: center;
}
.entry {
  text-align: center;
  display: inline-block;   
  max-width: 100%; 
  vertical-align: top;
  border: 1px solid #E5E5E5;
  padding: 5px;
  margin: 5px;
  @include border-radius(5px);
  
  a {
    display: inline-block;
  }
  
  img {
    display:block;
    max-width: 100%;
    border: 1px solid black;
  }
  
  .pagination {
    margin: 0px;
  }
  .next, .prev {
    margin-bottom: 3px;
  }
  .sizes {
    display: inline-block;
    margin: 0 auto;
    a { min-width: 40px; }
  }
}

.bgimages-controls {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 1040;
}

.bgimages {
  position: relative;
  .image{
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    position: fixed;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
    @include transition-delay(1s);
    z-index: 1000;
    &.active { 
      opacity: 1; 
      z-index: 1030;
      @include transition(opacity 0.5s ease-in-out);
      @include transition-delay(0s);
    }
    
    &.force {
      @include transition(none);
      @include transition-delay(0s);      
    }
    
    .image-links li {
      display: inline-block;
    }
    
    .image-links a {
      color: #fff;
      min-width: 15px;
    }
    
    .image-links a:hover {
      background-color: #333;
    }
    
    .caption {
      z-index: 1040;
      position: fixed;
      margin: 0;
      top:50px;
      right:10px;
      width:400px;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #555;
      @include border-radius(5px);
      text-align: center;
    }
    
    img {
      width: 100%;
      height: 100%;
    
    }    
  }
}