// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entries { 
  text-align: center;
}
.entry {
  text-align: center;
  display: inline-block;   
  max-width: 100%; 
  vertical-align: top;
  border: 1px solid #E5E5E5;
  padding: 5px;
  margin: 5px;
  @include border-radius(5px);
  
  a {
    display: inline-block;
  }
  
  img {
    display:block;
    max-width: 100%;
    border: 1px solid black;
  }
  
  .pagination {
    margin: 0px;
  }
  .next, .prev {
    margin-bottom: 3px;
  }
  .sizes {
    display: inline-block;
    margin: 0 auto;
    a { width: 70px; }
  }
}