// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feed {
  h1 {
    text-align: center;
  }
  display: inline-block;   
  max-width: 100%; 
  vertical-align: top;
}

.current_list {
  .current_entry {
    h3 { margin: 0;}
    display: inline-block;
    text-align: center;
  }
}

#sidebar {
  h3 { 
    font-size: 20px; 
    line-height: 30px;
    margin: 0;  
  }
  .well { 
    margin: 5px 0;
    padding-top: 3px; 
    padding-bottom: 3px;
  }
}

.feed-picker {
  li > a {
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px;
    padding: 8px 14px;
  }

  li > a i.icon-chevron-right {
    @include opacity(0.25);
  }
  
  li:first-child > a {
    @include border-top-radius(6px);
  }
  li:last-child > a {
    @include border-bottom-radius(6px);
  }
}