// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.feed {
  h1 {
    text-align: center;
  }
  display: inline-block;   
  max-width: 100%; 
  vertical-align: top;
}

.current_list {
  .current_entry {
    h3 { margin: 0;}
    display: inline-block;
    text-align: center;
  }
}
